<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  </head>
  <body ng-controller="myCtrl">
  <h1>Lista de Estados</h1>
  Busca: <input type="search" ng-model="busca" />
  <ul>
      <li ng-repeat="state in lista.estados | filter:{ nome: busca }">
          <strong>{{ state.sigla }}</strong> {{ state.nome }}
      </li>
  </ul>

  <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $http) {
          $http.get('brazil_cities_states.json').success(function(response) {
              $scope.lista = response;
          });
      });
  </script>
  </body>
</html>